<div class="webContainer" fxLayout="column" fxLayoutGap="20px" style="margin-top: 10px;">
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-card fxFlex="50">
      <mat-card-title>Korespondenční adresa:</mat-card-title>
      <mat-card-content>
        <br>Sbor Bratrské jednoty baptistů v Litoměřicích
        <br>Pražská 992/14
        <br>Litoměřice - Předměstí, 41201
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50">
      <mat-card-title>
        Kazatel sboru:
      </mat-card-title>
      <mat-card-content>
        <br>Mgr. Ing. Jaroslav Pleva
        <br>mail: sbor@bjbltm.cz
        <br>mobil: +420 603849317

      </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-card-title>
      Ostatní údaje:
    </mat-card-title>
    <mat-card-content>
      <br>Identifikační číslo: 68455607
      <br>Fakturační adresa: Sbor Bratrské jednoty baptistů v Litoměřicích, Žižkova 2039/3, 41201 Litoměřice
      <br>Bankovní účet hlavní: 115-5530050227/0100
      <br>Bankovní účet misijní: 2800250701/2010
    </mat-card-content>
  </mat-card>


</div>
