<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <a href="http://www.bjb.cz">
      <img src="http://www.bjbltm.cz/images/partneri/logo.jpg" height="33px">
    </a>
    <a href="http://www.bjb.cz">
      <img src="http://www.bjbltm.cz/images/partneri/nmp_web.jpg" height="33px">
    </a>
    <a href="http://www.bjb.cz">
      <img src="http://www.bjbltm.cz/images/partneri/ND.jpg" height="33px">
    </a>
    <a href="http://www.bjb.cz">
      <img src="http://www.bjbltm.cz/images/partneri/BBC.JPG" height="33px">
    </a>
    <a href="http://www.bjb.cz">
      <img src="http://www.bjbltm.cz/images/partneri/cbm_web.gif" height="33px">
    </a>
    <a href="http://www.bjb.cz">
      <img src="http://www.bjbltm.cz/images/partneri/cbf_web.jpg" height="33px">
    </a>
    <a href="http://www.bjb.cz">
      <img src="http://www.bjbltm.cz/images/partneri/PPLasser_web.jpg" height="33px">
    </a>
  </mat-toolbar-row>
</mat-toolbar>
