<div fxLayout="column" class="webContainer" *ngIf="recipe; else nenalezen">
  <div>
    <button mat-raised-button routerLink="edit" color="accent" *ngIf="isLogged() && owner">Editovat</button>
  </div>
<div fxLayout="row" fxLayoutAlign="space-between">
  <div>
    <h1>{{ recipe.name }}</h1>
    <mat-list *ngIf="recipe.ingredients">
      <h2 style="margin-bottom: 0px;">Ingredience</h2>
      <mat-list-item *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.amount + ingredient.amount_type + ' ' + ingredient.name }}
      </mat-list-item>
    </mat-list>
    <h2 style="margin-bottom: 0px; margin-top: 10px;">Postup přípravy</h2>
    <p>{{recipe.description}}</p>
  </div>
  <div>
    <img src="{{recipe.imagePath}}" style="max-height: 250px; max-width: 450px;">
  </div>
</div>
</div>

<ng-template #nenalezen>
  <div *ngIf="nenalezeno">
    Požadovaný recept nenalezen
  </div>
</ng-template>
