<mat-toolbar color="primary">
  <mat-toolbar-row class="webContainer">
    <div>
<!--      <a mat-button [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>-->
      <a mat-button [routerLink]="'/recepty'" routerLinkActive="active">Recepty</a>
      <a mat-button *ngIf="isLogged()" [routerLink]="'/moje-recepty'" routerLinkActive="active">Moje recepty</a>
    </div>
    <span fxFlex></span>
    <div fxLayoutGap="10px">
      <button mat-raised-button color="warn" *ngIf="isLogged()" type="button" (click)="removeAccount()">Zrušit účet</button>
      <button mat-raised-button color="accent" routerLink="/novy-recept" *ngIf="isLogged()" routerLinkActive="hide">Přidat recept</button>
      <a mat-button [routerLink]="'/kontakt'" routerLinkActive="active">Kontakt</a>
      <button mat-icon-button (click)="openLogin()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>

</mat-toolbar>

