<mat-toolbar color="primary">
  <mat-toolbar-row class="webContainer">
    <div>
      <a mat-button [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a mat-button [routerLink]="'/kazani'" routerLinkActive="active">Kázání</a>
      <a mat-button [routerLink]="'/chvaly'" routerLinkActive="active">Chvály</a>
    </div>
    <span fxFlex></span>
    <div>
      <a mat-button *ngIf="getUser()" [routerLink]="'/ucet'" routerLinkActive="active">Můj účet</a>
      <a mat-button [routerLink]="'/kontakt'" routerLinkActive="active">Kontakt</a>
      <button mat-icon-button (click)="openLogin()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>

</mat-toolbar>

