<div class="webContainer">
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="setVisible($event)">
  </mat-paginator>
  <mat-grid-list cols="3" rowHeight="130px">
    <mat-grid-tile *ngFor="let chvala of visibleList; let i = index;">
      <mat-card>
        <mat-card-title>
          {{ chvala.nazev }}
        </mat-card-title>
        <mat-card-content>
          <audio controls>
            <source src="{{ chvala.url}}" type="audio/mpeg">
          </audio>
        </mat-card-content>
<!--        <mat-card-footer>-->
<!--          <mat-card-actions>-->
<!--            <button (click)="downloadFile(chvala.url)" mat-raised-button color="accent" download>Download</button>-->
<!--          </mat-card-actions>-->
<!--        </mat-card-footer>-->
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="setVisible($event)">
  </mat-paginator>
</div>
