<div class="webContainer">
  <h2>
    O nás
  </h2>
  <p>
    <mat-list>
      <h3 matSubheader>Kdo jsme</h3>
      <mat-list-item>Jsme církev - lidé, kteří věří v Boha, jak jej poznáváme z Bible.</mat-list-item>
      <mat-list-item>Jsme křesťané - věříme v Ježíše Krista, kterého Bůh poslal, abychom poznali smysl a cíl naší
        existence.
      </mat-list-item>
      <mat-list-item>Jsme sbor - skupina lidí, kteří se rozhodli být navzájem přáteli a jít cestou života a víry
        společně, na základě společného vyznání.
      </mat-list-item>
      <mat-list-item>Jsme baptisté - lidé považující svobodu svědomí za jednu z nejdůležitějších hodnot.</mat-list-item>
      <mat-list-item>Jsme obyčejní lidé - máme své chyby a slabosti. Nepředstíráme dokonalost, ale s Boží pomocí se
        snažíme žít život užitečný pro druhé.
      </mat-list-item>
      <mat-list-item>Máme neobyčejnou zkušenost - poznali jsme, že Ježíš Kristus je živý a chce být přítelem každého
        člověka. Naše setkání jsou otevřená pro každého, ať věřícího či nevěřícího. Svou neobyčejnou zkušenost chceme
        předat každému, kdo hledá smysl svého života.
      </mat-list-item>
      <h3 matSubheader>Čemu věříme</h3>
      <mat-list-item>Poznali jsme, že při seznámení s Ježíšem přichází do našeho života odpuštění, pokoj a radost. Život
        dostává řád a smysl. Vítáme mezi námi každého, kdo hledá víc, než co nabízí materiální pohled na svět.
      </mat-list-item>
      <mat-list-item>Chceme každému pomoci, aby měl příležitost se srozumitelným způsobem dovědět o Kristu. Proto že
        nikdo nemůže být přiveden k víře donucením, rozhodnutí víry musí učinit každý sám a dobrovolně. Odmítáme
        jakékoli násilí ve věcech svědomí a zastáváme důslednou odluku církve od státu včetně finanční.
      </mat-list-item>
      <mat-list-item>Za své bratry a sestry považujeme všechny, kdo věří v Boha, jak jej poznáváme v Bibli. Společně s
        ostatními křesťany přijímáme „Apoštolské vyznání víry" a podrobněji naši víru vystihuje vyznání BJB.
      </mat-list-item>
      <mat-list-item>Věříme, že každé společenství křesťanů, každý místní sbor je církví v pravém slova smyslu. Proto je
        každý sbor samostatný a nezávislý na jiných sborech ani nemá žádný nadřízený orgán. Jako součást státem
        registrované církve Bratrské jednoty baptistů jsme součástí celosvětového baptistického hnutí - Evropské
        baptistické federace a Světového svazu baptistů.
      </mat-list-item>
      <h3 matSubheader>Na čem nám záleží</h3>
      <mat-list-item>Naše poslání spatřujeme v proměně charakteru člověka a změně života od sebestředných zájmů ke
        službě druhým, abychom nebyli zmítáni sem a tam zmatky světa, ale navzájem vůči sobě pravdiví v lásce směřovali
        k plnému životu.
      </mat-list-item>
      <mat-list-item>V atmosféře přijetí, kde je každý jednotlivec respektován, může podle svého poznání a schopností
        sloužit druhým svým zvláštním obdarováním.
      </mat-list-item>
      <h3 matSubheader>Odkud jdeme - historie</h3>
      <mat-list-item>Název baptisté je odvozen od řeckého slova, které označuje „ponoření" neboli křest. Baptistické
        hnutí má svůj původ v radikálním křídle světové reformace, které na počátku 16. století začalo praktikovat křest
        na vyznání víry - to znamená křest dospělých, kteří svoji víru vyznávají na základě osobního rozhodnutí.
      </mat-list-item>
    </mat-list>
  </p>

</div>
