<div class="webContainer" fxLayout="column" fxLayoutAlign="center none" >
  <div fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="20px" style="margin-top: 10px;">
    <div fxFlex="50">
      <h3>Kdo jsme</h3>
      <p>
        <b>Jsme církev</b> lidé, kteří věří v Boha, jak jej poznáváme z Bible.
      </p>
      <p><b>Jsme křesťané</b> věříme v Ježíše Krista, kterého Bůh poslal, abychom poznali smysl a cíl naší
        existence.
      </p>
      <p>
        <b>Jsme sbor</b> skupina lidí, kteří se rozhodli být navzájem přáteli a jít cestou života a víry
        společně, na základě společného vyznání.
      </p>
      <p>
        <b>Jsme baptisté</b> lidé považující svobodu svědomí za jednu z nejdůležitějších hodnot.
      </p>
      <p>
        <b>Jsme obyčejní lidé</b>
        máme své chyby a slabosti. Nepředstíráme dokonalost, ale s Boží pomocí se
        snažíme žít život užitečný pro druhé.
      </p>
      <p><b>Máme neobyčejnou zkušenost</b> poznali jsme, že Ježíš Kristus je živý a chce být přítelem každého
        člověka. Naše setkání jsou otevřená pro každého, ať věřícího či nevěřícího. Svou neobyčejnou zkušenost chceme
        předat každému, kdo hledá smysl svého života.
      </p>
    </div>

    <div fxFlex="50">
      <h3>Čemu věríme</h3>
      <p>Poznali jsme, že při seznámení s Ježíšem přichází do našeho života odpuštění, pokoj a radost.
          Život
          dostává řád a smysl. Vítáme mezi námi každého, kdo hledá víc, než co nabízí materiální pohled na svět.
        </p>
        <p>Chceme každému pomoci, aby měl příležitost se srozumitelným způsobem dovědět o Kristu. Proto že
          nikdo nemůže být přiveden k víře donucením, rozhodnutí víry musí učinit každý sám a dobrovolně. Odmítáme
          jakékoli násilí ve věcech svědomí a zastáváme důslednou odluku církve od státu včetně finanční.
        </p>
        <p>Za své bratry a sestry považujeme všechny, kdo věří v Boha, jak jej poznáváme v Bibli. Společně s
          ostatními křesťany přijímáme „Apoštolské vyznání víry" a podrobněji naši víru vystihuje vyznání BJB.
        </p>
        <p>Věříme, že každé společenství křesťanů, každý místní sbor je církví v pravém slova smyslu. Proto
          je
          každý sbor samostatný a nezávislý na jiných sborech ani nemá žádný nadřízený orgán. Jako součást státem
          registrované církve Bratrské jednoty baptistů jsme součástí celosvětového baptistického hnutí - Evropské
          baptistické federace a Světového svazu baptistů.
        </p>
    </div>
  </div>
  <div>
    <h3>Na čem nám záleží</h3>
    <p>Naše poslání spatřujeme v proměně charakteru člověka a změně života od sebestředných zájmů ke
      službě druhým, abychom nebyli zmítáni sem a tam zmatky světa, ale navzájem vůči sobě pravdiví v lásce směřovali
      k plnému životu.
    </p>
    <p>V atmosféře přijetí, kde je každý jednotlivec respektován, může podle svého poznání a schopností
      sloužit druhým svým zvláštním obdarováním.
    </p>
  </div>
  <div>
    <h3 matSubheader>Odkud jdeme - historie</h3>
    <p>Název baptisté je odvozen od řeckého slova, které označuje „ponoření" neboli křest. Baptistické
      hnutí má svůj původ v radikálním křídle světové reformace, které na počátku 16. století začalo praktikovat křest
      na vyznání víry - to znamená křest dospělých, kteří svoji víru vyznávají na základě osobního rozhodnutí.
    </p>
  </div>
</div>
