<div *ngIf="!authService.isLogged || (authService.isLogged && dialogOpened); else logoutForm" id="loginForm">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div mat-dialog-content>
      <mat-form-field fxFlexFill>
        <mat-label>
          <mat-icon>person</mat-icon>
          Přihlašovací jméno
        </mat-label>
        <input matInput formControlName="login" [(ngModel)]="data.email">
        <mat-error *ngIf="loginNotFound">Uživatel nenalezen</mat-error>
      </mat-form-field>
      <mat-form-field fxFlexFill>
        <mat-label>
          <mat-icon>security</mat-icon>
          Heslo
        </mat-label>
        <input matInput type="password" formControlName="password" [(ngModel)]="data.password">
        <mat-error *ngIf="badPassword">Špatné heslo</mat-error>
      </mat-form-field>

    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
      <button mat-raised-button type="button"(click)="onNoClick()">Zrušit</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Přihlásit</button>
    </div>
  </form>
  <br>
  <br>

  <div mat-dialog-content>
    Nemáte ještě účet? <a (click)="onNoClick()" routerLink="/uzivatele/zalozit-ucet">založit účet</a>
  </div>
</div>
<ng-template #logoutForm>
  <div>
    Opravdu se chtete odhlásit?
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
    <button mat-raised-button (click)="onNoClick()">Ne</button>
    <button mat-raised-button color="warn" (click)="onLogout()">Ano</button>
  </div>
</ng-template>
